body {
    font-family: 'Merriweather', serif;
    margin: 0px;

}
h1 {
    font-family: 'Montserrat', sans-serif;
    margin-top: 0px;
    margin-bottom: 0px
}
h2 {
    font-family: 'Montserrat', sans-serif;
}
h3 {
    font-family: 'Montserrat', sans-serif;
}
hr {

    border-style: none;
    border-top-style: dotted;
    border-color: #4E31AA;
    border-width:20px;
    width: 10%;
}

/***************************************** Div 1 *****************************************/

    .top-container {
        position: relative;
        background-color: #B2A4FF;
        margin: 0px;
        padding-top: 100px;
        text-align: center;
    }
    /* TEXT */
    .introduction {
        font-family: 'Sacramento', cursive;
        font-size: 50px;
    }
    .intro-text {
        font-family: 'Montserrat', sans-serif;
    }
    .zoom:hover {
        transition: transform .2s;
        transform: scale(1.1);
    }
    /* IMAGES */
    .cloud1 {
        position: absolute;
        right: 300px;
        top: 100px;
        width: 200px;
    }
    .cloud2 {
        position: absolute;
        display: inline-block;
        left: 250px;
        bottom: 600px;
    }
    .hills {
        position: relative;
        display: inline-block;
        width: 100%;
        top: 4px;
    }

/***************************************** Div 2 *****************************************/

    .skills-class {
        position: relative;
        margin: 0px;
        height: 300px;
    }
    .skills-intro {
        position: absolute;
        font-size: 30px;
        font-weight: bold;
        left: 100px;
    }
    .skills-image {
        position: absolute;
        width: 175px;
        height: 175px;
        top: 90px;
    }
    .skill-list {
        position: absolute;
        font-family: 'Montserrat', sans-serif;
        font-size: 20px;
        top: 65px;
        left: 150px;
    }

/***************************************** Div 3 *****************************************/

.employment-history {
    position: relative
    margin: 0px;
    height: 275px;
}
.history-title {
    text-align: right;
    margin-right: 100px;
    font-size: 30px;
    font-weight: bold;
    left: 100px;
}
.list-image {
    float: right;
    width: 175px;
    height: 175px;
}
.employment-list {
    padding: 0;
    margin: 0;
    text-align: right;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
}
.bullets {
}

/***************************************** Div 3 *****************************************/

.bottom-container {
    margin: 30px;
    height: 150px;
    text-align: center;
}





